# From gitignore
node_modules/
npm-debug.log
*.cmd
*.log

# rc files and shit
.grandmarc
.bithoundrc
.codeclimate.yml
.travis.yml
.brackets.json
appveyor.yml

# Specific to NPM
fixtures/
coverage/
test/

# Art and stuff
assets/
