# Node stuff
node_modules/
npm-debug.log
.nyc_output
*.cmd
*.log

# rc files and shit
.grandmarc
.bithoundrc
.codeclimate.yml
.travis.yml
.brackets.json
appveyor.yml
_config.yml
.editorconfig
.eslintrc*
.gitattributes

# Specific to NPM
fixtures/
coverage/
test/

# Art and stuff
assets/
