<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grandma Plot</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
    <style>
        html, body {
            font-family: sans-serif;
        }
        
        #plot {
            width: 100%;
            height: 600px;
        }
    </style>
</head>
<body>
    <div id="plot"></div>
    <script>
        var div = document.querySelector('#plot');
        var plot = new Dygraph(
            div,
            '{{data}}',
            {
                title: 'Test',
                showRoller: true,
                rollPeriod: 1,
                ylabel: 'milliseconds'
            }
        );
    </script>
</body>
</html>