/* Start Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

* { outline: none;}
/* End Reset CSS */

html, body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #e5e5e5;
    color: #444;
}

h1{
    font-size: 1.2em;
    padding: 8px 0;
    font-weight: bold;
}
h2{
    font-size: 1.1em;
    padding: 4px 0;
    font-weight: bold;
}

.container{
    width: 90%;
    max-width: 1200px;
    display: block;
    position: relative;
    margin: 10px auto 0;
}

#chart
{
    height: 500px;
    width: 100%;
    display: inline-block;
}
#y_axis {
    width: 40px;
    left: -40px;
    height: 500px;
    display: inline-block;
    position: absolute;
}

.sidebar_container {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    border-radius: 2px;
}
    .sidebar_container *
    {
        background: none;
    }
    #meta{
        color: white;
        font-size: .8em;
        padding: 8px;
    }
    #meta label{
        display: block;
        font-size: .9em;
        font-variant:small-caps;
    }
    #meta div{
        margin: 0 0 5px 0;
        max-width: 200px;
        word-wrap: break-word;
    }

#stats_container {
    padding: 0 0 20px 0;
}
    #stats_container .stats_card {
        display: inline-block;
        max-width: 200px;
        padding: 15px;
        margin: 20px 20px 0 0;
        background: white;
        border-radius: 2px;
        box-shadow: 0px 3px 4px 0px rgba(0,0,0,.2);
    }

#tests div {
    margin: 10px;
}
